.container {
  text-align: center;
}

.dropzone {
  margin: 0 auto;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
  padding: 50px 25px;
  width: 200px;
  box-sizing: border-box;
  cursor: pointer;
}

.rejectedDrop {
  border-color: red;
}

.acceptDrop {
  border-color: #00FF00;
}

.colour-display {
  display: flex;
  height: 200px;
  justify-content: center;
}

#preview {
  margin-right: 1rem;
  max-width: 200px;
  text-align: left;
}

.average-colour-display {

}

.average-colour-display ul li {
  float: left;
}

#average-color {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 1rem;
}

.average-colour-display h5 {
  text-align: left;
  margin-top: 0;
}